<aside class="sidebar">
  <div class="sidebar-header">
    <span class="logo-icon">🧮</span>
    <h3>Métodos Numéricos</h3>
  </div>
  
  <nav class="sidebar-nav">
    <a routerLink="/biseccion" routerLinkActive="active" class="nav-item">
      <span>Bisección</span>
    </a>
    <a routerLink="/falsa-posicion" routerLinkActive="active" class="nav-item">
      <span>Falsa Posición</span>
    </a>
      <a routerLink="/punto-fijo" routerLinkActive="active" class="nav-item">
        <span>Punto Fijo</span>
    </a>
    <a routerLink="/newton-raphson" routerLinkActive="active" class="nav-item">
      <span>Newton-Raphson</span>
    </a>
  </nav>
</aside>